<p>Find me in app/views/publisher_companies/index.html.erb</p>

 <h2 class="title is-2 box"> The Top Producing Publishing Companies In The Video Game Industry</h2>
      <ol class=ml-5>
    <%# loop through each game, make a link for that game, see the production company.. %>
      <%= render @publisher_companies %>
    </ol>


