<div class="columns">
  <div class="column">
    <h2 class="title is-2"> Best Selling Games     Find me in app/views/home/index.html.erb </h2>
    <ol class=ml-5>
    <%# loop through each game, make a link for that game, see the production company.. %>
      <% @games.each do | game |  %>
      <li>
       <button class="button is-link is-light"> <%= link_to game.name, game %></button>
        <em>(<%= game.publisher_company.name%>)</em>

        <progress class="progress is-danger" value="<%= game.north_america_sales %>" max=6.16>
          <%= game.north_america_sales%>
        </progress>



        </li>
      <% end  %>
    </ol>
  </div>


  <div class="column">
  <h2 class="title is-2"> Most Games Published</h2>
  </div>
</div>
