<hr>
<footer>
  <p><em>Haris' favorite games</em></p>
  <ul class="mt-5">

<li><%= text = "Check out my favourite game on youtube https://www.youtube.com/watch?v=dQw4w9WgXcQ"
html_text = text.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %></li>
<li><%= link_to "About My Data", permalink_path('about_the_data') %></li>
<li><%= link_to "Contact", permalink_path('contact') %></li>

  </ul>
</footer>

