<hr>
<footer>
  <p><em>Haris' favorite games</em></p>
  <ul class="mt-5">

<li><%= text = "Check out my favourite game on youtube https://www.youtube.com/watch?v=dQw4w9WgXcQ"
html_text = text.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %></li>

  </ul>
</footer>

